#edit-slug-box, 
#minor-publishing-actions,
.updated.notice.notice-success.is-dismissible p a {
    display:none;
}
#copy-shortcode{
    display:block;
    margin-top: 10px;
    border-radius:4px;
    padding:5px;
    background-color: #0085BA;
    color:#fff;
    text-align: center;
}
#copy-shortcode:hover{
    cursor:pointer;
}